{% extends 'core/base.html' %}
<!-- Invoca la plantilla "base.html" -->
<!-- Bloque particular de esta página -->
{% load static %}
<!-- carga contenido estático-->
{% block title %}Portafolio de Proyectos{% endblock %}
<!--Bloque de título para esta página -->
<!--bloque de imagen de fondo-->
{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Proyectos</span>
{% endblock %}

{% block content %}
<!-- Proyectos -->
    {% for proy in proyectos %} <!--ocupamos el diccionario "proyectos" y  lo recorremos-->
    <!-- Proyecto -->
    <div class="row project">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <!-- ImageField tiene atributo url que genera ruta correcta automáticamente ocupando variable MEDIA_URL en settings.py -->
            <img class="img-fluid" src="{{proy.imagen.url}}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">{{proy.titulo}}</h2>
            <p>{{proy.descripcion}}</p>
            {% if proy.link %}
            <p><a href="{{proy.link}}">Más información</a></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}